.tarifsText {
  display: flex;
  padding: 16px 258px 49px 258px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;

  h1 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
  }

  p {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  span {
    color: #6096fd;
  }

  .imgContainer {
    width: 362px;
    height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .tarifsText {
    justify-content: center;
    gap: 30px;
    padding: 0;

    div {
      width: 300px;
    }

    h1 {
      font-size: 32px;
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
    }

    .imgContainer {
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 767px) {
  .tarifsText {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
    padding: 0;
    margin-bottom: 64px;

    div {
      text-align: center;
      width: 335px;
    }

    h1 {
      font-size: 40px;
      margin-top: 64px;
      margin-bottom: 5px;
    }

    p {
      font-size: 24px;
    }

    .imgContainer {
      width: 279px;
      height: 279px;
    }
  }
}
