.navbar {
  display: flex;
  width: 218px;
  height: 100vh;
  flex-direction: column;
  border-radius: 0px 16px 16px 0px;
  background: #1f1f1f;
  padding: 32px 16px 32px 24px;
}

.personLine {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }

  .logoutBtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
