.slide {
  display: none;
}

.tarifCard_mobile {
  display: none;
  width: 269px;
  height: 512px;
  padding: 16px 32px 24px 32px;
  flex-direction: column;
  border-radius: 16px;
  background: #1f1f1f;
}

.tarifSpecialCard_mobile {
  display: none;
  width: 362px;
  height: 552px;
  padding: 16px 32px 24px 32px;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
}

.tarifCard {
  display: flex;
  width: 269px;
  height: 512px;
  padding: 16px 32px 24px 32px;
  flex-direction: column;
  border-radius: 16px;
  background: #1f1f1f;

  h1 {
    color: #fff;
    font-size: 24px;
  }

  .description {
    color: #fff;
  }

  .price {
    font-size: 36px;
    color: #fff;
  }

  span,
  .featuresDescription {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
  }

  button {
    display: flex;
    height: 36px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: grey;
    }
  }

  .featuresTitle {
    color: #fff;
  }

  ul {
    color: #fff;
  }
}

.tarifSpecialCard {
  display: flex;
  width: 362px;
  height: 552px;
  padding: 16px 32px 24px 32px;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;

  h1 {
    color: #1f1f1f;
    font-size: 28px;
  }

  .description {
    color: #1f1f1f;
  }

  .price {
    font-size: 48px;
    color: #1f1f1f;
  }

  span {
    font-size: 16px;
    color: rgba(31, 31, 31, 0.75);
  }

  button {
    display: flex;
    height: 42px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6096fd;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0059ff;
    }
  }

  .featuresTitle {
    color: #1f1f1f;
  }

  .featuresDescription {
    font-size: 12px;
    color: rgba(31, 31, 31, 0.75);
  }

  ul {
    color: #1f1f1f;
  }
}

.tarifTitle {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.price {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.tarifBtn {
  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.featuresTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}

.featuresDescription {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.featuresList {
  color: #1f1f1f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    margin-bottom: 4px;
  }

  li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url("/icons/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .tarifCard {
    padding: 16px 16px 24px 16px;
    width: 210px;
    height: 512px;

    h1 {
      font-size: 16px;
    }

    .description {
      font-size: 10px;
    }

    .price {
      font-size: 28px;
    }

    button {
      height: 28px;
      padding: 6px 12px;
      font-size: 12px;
    }
  }
  .tarifSpecialCard {
    padding: 16px 32px 24px 32px;
    width: 300px;
    height: 552px;

    h1 {
      font-size: 22px;
    }

    .description {
      font-size: 12px;
    }

    .price {
      font-size: 32px;
    }

    button {
      height: 42px;
      padding: 8px 16px;
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .slide {
    display: flex;
    justify-content: center;
    flex: 0 0 100vw;
  }

  .tarifCard {
    display: none;
  }

  .tarifSpecialCard {
    display: none;
  }

  .tarifCard_mobile {
    display: flex;
    width: 335px;
    height: auto;
    padding: 16px 32px 24px 32px;

    h1 {
      color: #fff;
      font-size: 20px;
    }

    .description {
      color: #fff;
      font-size: 10px;
      margin-bottom: 24px;
    }

    .price {
      margin: 34px 0 16px 0;
      color: #fff;
      font-size: 32px;
    }

    button {
      height: 36px;
      padding: 8px 16px;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: #fff;
      transition: all 0.3s ease-in-out;
      margin-bottom: 0;

      &:hover {
        background-color: grey;
      }
    }

    span,
    .featuresDescription {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.75);
    }

    .featuresTitle {
      color: #fff;
    }

    ul {
      color: #fff;
    }
  }

  .tarifSpecialCard_mobile {
    display: flex;
    width: 335px;
    height: auto !important;
    height: 480px;
    padding: 16px 32px 24px 32px;
    flex: 0 0 335px;

    h1 {
      font-size: 20px;
    }

    .description {
      font-size: 10px;
      margin-bottom: 24px;
    }

    .price {
      margin: 34px 0 16px 0;
      font-size: 32px;
    }

    button {
      height: 36px;
      padding: 8px 16px;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: #6096fd;
      color: #fff;
      transition: all 0.3s ease-in-out;
      margin-bottom: 0;

      &:hover {
        background-color: #0059ff;
      }
    }
  }
}
